<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>goods_name</key>
		<string>美式</string>
		<key>goods_id</key>
		<integer>26</integer>
		<key>ishot</key>
		<integer>1</integer>
		<key>gg</key>
		<string>16OZ</string>
		<key>ishb</key>
		<integer>2</integer>
		<key>title</key>
		<string>16OZ</string>
		<key>content</key>
		<string></string>
		<key>logo_pic</key>
		<string>http://app.coffeemall.cc/uploads/sgoods/26/thumb/1456376668.jpg</string>
		<key>praise_num</key>
		<integer>11</integer>
		<key>price</key>
		<real>15</real>
		<key>status</key>
		<integer>1</integer>
		<key>mx_id</key>
		<string></string>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>拿铁</string>
		<key>goods_id</key>
		<integer>27</integer>
		<key>ishot</key>
		<integer>1</integer>
		<key>gg</key>
		<string>16OZ</string>
		<key>ishb</key>
		<integer>1</integer>
		<key>title</key>
		<string>16OZ</string>
		<key>content</key>
		<string></string>
		<key>logo_pic</key>
		<string>http://app.coffeemall.cc/uploads/sgoods/27/thumb/1456376724.jpg</string>
		<key>praise_num</key>
		<integer>25</integer>
		<key>price</key>
		<real>23</real>
		<key>status</key>
		<integer>1</integer>
		<key>mx_id</key>
		<string></string>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>摩卡</string>
		<key>goods_id</key>
		<integer>59</integer>
		<key>ishot</key>
		<integer>1</integer>
		<key>gg</key>
		<string>16OZ</string>
		<key>ishb</key>
		<integer>0</integer>
		<key>title</key>
		<string>16OZ</string>
		<key>content</key>
		<string></string>
		<key>logo_pic</key>
		<string>http://app.coffeemall.cc/uploads/sgoods/59/thumb/1456376896.jpg</string>
		<key>praise_num</key>
		<integer>5</integer>
		<key>price</key>
		<real>26</real>
		<key>status</key>
		<integer>1</integer>
		<key>mx_id</key>
		<string></string>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>焦糖玛奇朵</string>
		<key>goods_id</key>
		<integer>31</integer>
		<key>ishot</key>
		<integer>1</integer>
		<key>gg</key>
		<string>16OZ</string>
		<key>ishb</key>
		<integer>0</integer>
		<key>title</key>
		<string>16OZ</string>
		<key>content</key>
		<string></string>
		<key>logo_pic</key>
		<string>http://app.coffeemall.cc/uploads/sgoods/31/thumb/1456376873.jpg</string>
		<key>praise_num</key>
		<integer>75</integer>
		<key>price</key>
		<real>26</real>
		<key>status</key>
		<integer>1</integer>
		<key>mx_id</key>
		<string></string>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>香草拿铁</string>
		<key>goods_id</key>
		<integer>29</integer>
		<key>ishot</key>
		<integer>1</integer>
		<key>gg</key>
		<string>16OZ</string>
		<key>ishb</key>
		<integer>0</integer>
		<key>title</key>
		<string>16OZ</string>
		<key>content</key>
		<string></string>
		<key>logo_pic</key>
		<string>http://app.coffeemall.cc/uploads/sgoods/29/thumb/1456376825.jpg</string>
		<key>praise_num</key>
		<integer>30</integer>
		<key>price</key>
		<real>25</real>
		<key>status</key>
		<integer>1</integer>
		<key>mx_id</key>
		<string></string>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>榛果拿铁</string>
		<key>goods_id</key>
		<integer>30</integer>
		<key>ishot</key>
		<integer>1</integer>
		<key>gg</key>
		<string>16OZ</string>
		<key>ishb</key>
		<integer>0</integer>
		<key>title</key>
		<string>16OZ</string>
		<key>content</key>
		<string></string>
		<key>logo_pic</key>
		<string>http://app.coffeemall.cc/uploads/sgoods/30/thumb/1456376848.jpg</string>
		<key>praise_num</key>
		<integer>39</integer>
		<key>price</key>
		<real>25</real>
		<key>status</key>
		<integer>1</integer>
		<key>mx_id</key>
		<string></string>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>焦糖拿铁</string>
		<key>goods_id</key>
		<integer>28</integer>
		<key>ishot</key>
		<integer>1</integer>
		<key>gg</key>
		<string>16OZ</string>
		<key>ishb</key>
		<integer>0</integer>
		<key>title</key>
		<string>16OZ</string>
		<key>content</key>
		<string></string>
		<key>logo_pic</key>
		<string>http://app.coffeemall.cc/uploads/sgoods/28/thumb/1456376791.jpg</string>
		<key>praise_num</key>
		<integer>145</integer>
		<key>price</key>
		<real>25</real>
		<key>status</key>
		<integer>1</integer>
		<key>mx_id</key>
		<string></string>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>冰美式</string>
		<key>goods_id</key>
		<integer>42</integer>
		<key>ishot</key>
		<integer>2</integer>
		<key>gg</key>
		<string>16OZ</string>
		<key>ishb</key>
		<integer>2</integer>
		<key>title</key>
		<string>16OZ</string>
		<key>content</key>
		<string></string>
		<key>logo_pic</key>
		<string>http://app.coffeemall.cc/uploads/sgoods/42/thumb/1456377094.jpg</string>
		<key>praise_num</key>
		<integer>9</integer>
		<key>price</key>
		<real>15</real>
		<key>status</key>
		<integer>1</integer>
		<key>mx_id</key>
		<string></string>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>冰摩卡</string>
		<key>goods_id</key>
		<integer>62</integer>
		<key>ishot</key>
		<integer>2</integer>
		<key>gg</key>
		<string>16OZ</string>
		<key>ishb</key>
		<integer>0</integer>
		<key>title</key>
		<string>16OZ</string>
		<key>content</key>
		<string></string>
		<key>logo_pic</key>
		<string>http://app.coffeemall.cc/uploads/sgoods/62/thumb/1456377467.jpg</string>
		<key>praise_num</key>
		<integer>2</integer>
		<key>price</key>
		<real>26</real>
		<key>status</key>
		<integer>1</integer>
		<key>mx_id</key>
		<string></string>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>冰拿铁</string>
		<key>goods_id</key>
		<integer>43</integer>
		<key>ishot</key>
		<integer>2</integer>
		<key>gg</key>
		<string>16OZ</string>
		<key>ishb</key>
		<integer>1</integer>
		<key>title</key>
		<string>16OZ</string>
		<key>content</key>
		<string></string>
		<key>logo_pic</key>
		<string>http://app.coffeemall.cc/uploads/sgoods/43/thumb/1456377131.jpg</string>
		<key>praise_num</key>
		<integer>27</integer>
		<key>price</key>
		<real>23</real>
		<key>status</key>
		<integer>1</integer>
		<key>mx_id</key>
		<string></string>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>冰焦糖玛奇朵</string>
		<key>goods_id</key>
		<integer>68</integer>
		<key>ishot</key>
		<integer>2</integer>
		<key>gg</key>
		<string>16OZ</string>
		<key>ishb</key>
		<integer>0</integer>
		<key>title</key>
		<string>16OZ</string>
		<key>content</key>
		<string></string>
		<key>logo_pic</key>
		<string>http://app.coffeemall.cc/uploads/sgoods/68/thumb/1456750915.jpg</string>
		<key>praise_num</key>
		<integer>2</integer>
		<key>price</key>
		<real>26</real>
		<key>status</key>
		<integer>1</integer>
		<key>mx_id</key>
		<string></string>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>冰香草拿铁</string>
		<key>goods_id</key>
		<integer>45</integer>
		<key>ishot</key>
		<integer>2</integer>
		<key>gg</key>
		<string>16OZ</string>
		<key>ishb</key>
		<integer>0</integer>
		<key>title</key>
		<string>16OZ</string>
		<key>content</key>
		<string></string>
		<key>logo_pic</key>
		<string>http://app.coffeemall.cc/uploads/sgoods/45/thumb/1456377175.jpg</string>
		<key>praise_num</key>
		<integer>2</integer>
		<key>price</key>
		<real>25</real>
		<key>status</key>
		<integer>1</integer>
		<key>mx_id</key>
		<string></string>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>冰榛果拿铁</string>
		<key>goods_id</key>
		<integer>46</integer>
		<key>ishot</key>
		<integer>2</integer>
		<key>gg</key>
		<string>16OZ</string>
		<key>ishb</key>
		<integer>0</integer>
		<key>title</key>
		<string>16OZ</string>
		<key>content</key>
		<string></string>
		<key>logo_pic</key>
		<string>http://app.coffeemall.cc/uploads/sgoods/46/thumb/1456377347.jpg</string>
		<key>praise_num</key>
		<integer>4</integer>
		<key>price</key>
		<real>25</real>
		<key>status</key>
		<integer>1</integer>
		<key>mx_id</key>
		<string></string>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>冰焦糖拿铁</string>
		<key>goods_id</key>
		<integer>44</integer>
		<key>ishot</key>
		<integer>2</integer>
		<key>gg</key>
		<string>16OZ</string>
		<key>ishb</key>
		<integer>0</integer>
		<key>title</key>
		<string>16OZ</string>
		<key>content</key>
		<string></string>
		<key>logo_pic</key>
		<string>http://app.coffeemall.cc/uploads/sgoods/44/thumb/1456377152.jpg</string>
		<key>praise_num</key>
		<integer>3</integer>
		<key>price</key>
		<real>25</real>
		<key>status</key>
		<integer>1</integer>
		<key>mx_id</key>
		<string></string>
	</dict>
</array>
</plist>
