<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>goods_name</key>
		<string>红茶拿铁</string>
		<key>goods_id</key>
		<integer>33</integer>
		<key>ishot</key>
		<integer>1</integer>
		<key>gg</key>
		<string>16OZ</string>
		<key>ishb</key>
		<integer>0</integer>
		<key>title</key>
		<string>16OZ</string>
		<key>content</key>
		<string></string>
		<key>logo_pic</key>
		<string>http://app.coffeemall.cc/uploads/sgoods/33/thumb/1456376917.jpg</string>
		<key>praise_num</key>
		<integer>43</integer>
		<key>price</key>
		<real>20</real>
		<key>status</key>
		<integer>1</integer>
		<key>mx_id</key>
		<string></string>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>抹茶拿铁</string>
		<key>goods_id</key>
		<integer>54</integer>
		<key>ishot</key>
		<integer>1</integer>
		<key>gg</key>
		<string>16OZ</string>
		<key>ishb</key>
		<integer>0</integer>
		<key>title</key>
		<string>16OZ</string>
		<key>content</key>
		<string></string>
		<key>logo_pic</key>
		<string>http://app.coffeemall.cc/uploads/sgoods/54/thumb/1456376959.jpg</string>
		<key>praise_num</key>
		<integer>2</integer>
		<key>price</key>
		<real>20</real>
		<key>status</key>
		<integer>1</integer>
		<key>mx_id</key>
		<string></string>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>港式奶茶</string>
		<key>goods_id</key>
		<integer>51</integer>
		<key>ishot</key>
		<integer>1</integer>
		<key>gg</key>
		<string>16OZ</string>
		<key>ishb</key>
		<integer>0</integer>
		<key>title</key>
		<string>16OZ</string>
		<key>content</key>
		<string></string>
		<key>logo_pic</key>
		<string>http://app.coffeemall.cc/uploads/sgoods/51/thumb/1456377381.jpg</string>
		<key>praise_num</key>
		<integer>2</integer>
		<key>price</key>
		<real>20</real>
		<key>status</key>
		<integer>1</integer>
		<key>mx_id</key>
		<string></string>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>冰红茶拿铁</string>
		<key>goods_id</key>
		<integer>36</integer>
		<key>ishot</key>
		<integer>2</integer>
		<key>gg</key>
		<string>16OZ</string>
		<key>ishb</key>
		<integer>0</integer>
		<key>title</key>
		<string>16OZ</string>
		<key>content</key>
		<string></string>
		<key>logo_pic</key>
		<string>http://app.coffeemall.cc/uploads/sgoods/36/thumb/1456376979.jpg</string>
		<key>praise_num</key>
		<integer>4</integer>
		<key>price</key>
		<real>20</real>
		<key>status</key>
		<integer>1</integer>
		<key>mx_id</key>
		<string></string>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>冰抹茶拿铁</string>
		<key>goods_id</key>
		<integer>57</integer>
		<key>ishot</key>
		<integer>2</integer>
		<key>gg</key>
		<string>16OZ</string>
		<key>ishb</key>
		<integer>0</integer>
		<key>title</key>
		<string>16OZ</string>
		<key>content</key>
		<string></string>
		<key>logo_pic</key>
		<string>http://app.coffeemall.cc/uploads/sgoods/57/thumb/1456377447.jpg</string>
		<key>praise_num</key>
		<integer>3</integer>
		<key>price</key>
		<real>20</real>
		<key>status</key>
		<integer>1</integer>
		<key>mx_id</key>
		<string></string>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>冰港式奶茶</string>
		<key>goods_id</key>
		<integer>55</integer>
		<key>ishot</key>
		<integer>2</integer>
		<key>gg</key>
		<string>16OZ</string>
		<key>ishb</key>
		<integer>0</integer>
		<key>title</key>
		<string>16OZ</string>
		<key>content</key>
		<string></string>
		<key>logo_pic</key>
		<string>http://app.coffeemall.cc/uploads/sgoods/55/thumb/1456377425.jpg</string>
		<key>praise_num</key>
		<integer>1</integer>
		<key>price</key>
		<real>20</real>
		<key>status</key>
		<integer>1</integer>
		<key>mx_id</key>
		<string></string>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>冰摩卡</string>
		<key>goods_id</key>
		<integer>62</integer>
		<key>ishot</key>
		<integer>2</integer>
		<key>gg</key>
		<string>16OZ</string>
		<key>ishb</key>
		<integer>0</integer>
		<key>title</key>
		<string>16OZ</string>
		<key>content</key>
		<string></string>
		<key>logo_pic</key>
		<string>http://app.coffeemall.cc/uploads/sgoods/62/thumb/1456377467.jpg</string>
		<key>praise_num</key>
		<integer>2</integer>
		<key>price</key>
		<real>26</real>
		<key>status</key>
		<integer>1</integer>
		<key>mx_id</key>
		<string></string>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>冰焦糖玛奇朵</string>
		<key>goods_id</key>
		<integer>68</integer>
		<key>ishot</key>
		<integer>2</integer>
		<key>gg</key>
		<string>16OZ</string>
		<key>ishb</key>
		<integer>0</integer>
		<key>title</key>
		<string>16OZ</string>
		<key>content</key>
		<string></string>
		<key>logo_pic</key>
		<string>http://app.coffeemall.cc/uploads/sgoods/68/thumb/1456750915.jpg</string>
		<key>praise_num</key>
		<integer>2</integer>
		<key>price</key>
		<real>26</real>
		<key>status</key>
		<integer>1</integer>
		<key>mx_id</key>
		<string></string>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>冰焦糖玛奇朵</string>
		<key>goods_id</key>
		<integer>68</integer>
		<key>ishot</key>
		<integer>2</integer>
		<key>gg</key>
		<string>16OZ</string>
		<key>ishb</key>
		<integer>0</integer>
		<key>title</key>
		<string>16OZ</string>
		<key>content</key>
		<string></string>
		<key>logo_pic</key>
		<string>http://app.coffeemall.cc/uploads/sgoods/68/thumb/1456750915.jpg</string>
		<key>praise_num</key>
		<integer>2</integer>
		<key>price</key>
		<real>26</real>
		<key>status</key>
		<integer>1</integer>
		<key>mx_id</key>
		<string></string>
	</dict>
</array>
</plist>
